@media (max-width: 630px) {
    /*Estilos generales*/
  
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  
    html {
      font-size: 62.5%;
      font-family: "DM Sans", sans-serif;
    }
  
    /*Estilos del header mobile*/
  
    header nav {
      display: grid;
      grid-template-areas: "informacionArriba" "logoSeccion" "menuSeccion";
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr;
      background-image: radial-gradient(#008080 5%, #8FBC8F 40%);
    }
  
    ol, ul {
      padding-left: 0rem;
    }
  
    header {
      nav {
        .logoSeccion {
          grid-area: logoSeccion;
        }
  
        .buscadorSeccion {
          margin: auto auto;
        }
  
        .spasanaraLogo {
          display: none;
        }
  
        .informacionArriba {
          grid-area: informacionArriba;
          margin: auto auto;
        }
  
        .redesSeccion {
          display: none;
        }
  
        .textosInit {
          grid-area: listaRegistro;
        }
  
        .menuSeccion {
          grid-area: menuSeccion;
          display: flex;
          justify-content: center;
          margin: auto  auto;
        }
      }
  
      .listaMenu {
        margin: auto auto;
  
        a {
          font-size: 1.3rem;
        }
      }
  
      ul ul li {
        display: block;
        background-color: #8FBC8F;
        width: 100%;
      }
    }
  
    /*Estilos del main página Index*/
  
    main {
      display: grid;
      grid-template-areas: "destacados" "galeriaImg" "quienesSomos" "formulario" "mapa";
      grid-template-columns: 100%;
      grid-template-rows: 750px 315px 1fr 1fr 1fr;
  
      .destacadosSection {
        grid-area: destacados;
  
        .servicioDestacado3 {
          display: none;
        }
      }
  
      .galeriaImagenes {
        grid-area: galeriaImg;
        display: flex;
        height: 300px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
  
        img {
          width: 200px;
          height: 300px;
          margin: 5px;
        }
      }
  
      .quienesSomos {
        grid-area: quienesSomos;
        display: grid;
        grid-template-areas: "texto" "img";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
      }
  
      .quienesSomosTexto {
        grid-area: texto;
        margin: 0 auto;
        border: solid 1px #899797;
        text-align:justify;
        padding: 5px;
      }
  
      .quienesSomosImg {
        grid-area: img;
        display: flex;
        justify-content: center;
  
        img {
          width: 180px;
          height: 180px;
          margin: 10px;
        }
      }
  
      .formulario {
        grid-area: formulario;
        display: grid;
        grid-template-areas: "form" "boton" "imagen";
        grid-template-columns: 100%;
        grid-template-rows: 45% 10% 45%;
  
        .formularioTexto {
          grid-area: form;
          margin: 5px;
          text-align: center;
        }
  
        .formularioBoton {
          grid-area: boton;
          margin: auto auto;
          width: 55vw;
        }
  
        .formularioImg {
          grid-area: imagen;
        }
      }
  
      .formularioImg img {
        width: 180px;
        height: 160px;
        margin: 10px;
      }
  
      .ubicacionSection {
        margin-top: 10px;
        grid-area: mapa;
        display: grid;
        grid-template-areas: "texto" "imgMapa";
        grid-template-columns: 100%;
        grid-template-rows: 20% 80%;
      }
  
      .iframeSection {
        grid-area: imgMapa;
        margin: auto auto;
  
        iframe {
          height: 300px;
          width: 200px;
        }
      }
    }
  
    /*Estilos del main de Página Nosotros*/
  
    .mainNosotros {
      display: grid;
      grid-template-areas: "titulo" "instalaciones" "nacimiento" "ubicacion" "equipo";
      grid-template-columns: 100%;
      grid-template-rows: 1% 21% 21% 20% auto;

  
      h1 {
        grid-area: titulo;
        margin: auto auto;
      }
  
      .instalNosotros {
        grid-area: instalaciones;
        display: grid;
        height: 340px;
        margin-top: 10px;
        grid-template-areas: "texto" "img";
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
        text-align: center;
        margin-right:5px;
        margin-left:5px;
  
        .instalNosotrosTexto {
          grid-area: texto;
          text-align: justify;
          margin: 10px;
        }
  
        .instalNosotrosImg {
         display:none;
        }
      }
  
      .naceNosotros {
        grid-area: nacimiento;
        display: grid;
        grid-template-areas: "texto2" "img2";
        grid-template-columns: 100%;
        grid-template-rows: 55% 45%;
        text-align: center;
        height: 350px;
  
        .naceNosotrosTexto {
          grid-area: texto2;
          text-align: justify;
          margin: 10px;
        }
  
        .naceNosotrosImg {
          display:none;
        }
      }
  
      .ubicacionNosotros {
        grid-area: ubicacion;
        height: 330px;
      }
  
      .equipoNosotros {
        grid-area: equipo;
      }
  
      .ubicacionNosotros {
        grid-area: ubicacion;
        display: grid;
        grid-template-areas: "texto3" "img3";
        grid-template-columns: 100%;
        grid-template-rows: 60% 40%;
        text-align: center;
  
        .ubicacionNosotrosTexto {
          grid-area: texto3;
          text-align: justify;
          margin: 10px;
        }
  
        .ubicacionNosotrosmap iframe {
          grid-area: img3;
          width: 180px;
          height: 110px;
          margin: 0 auto;
        }
      }
  
      .equipoNosotros {
        height: 115vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
  
        h2 {
          margin-top: 10px;
        }
  
        .contenedorEquipo {
          display: flex;
          flex-direction: column;
          margin: auto auto;
        }
  
        .personaEquipo {
          width: 200px;
          height: 180px;
          margin: 10px;
  
          Img {
            width: 120px;
            height: 120px;
          }
        }
      }
    }
  
    /*estilos del main de la página de registro*/
  
    .mainRegistro .fielsetRegistro {
      width: 90vw;
  
      legend {
        color: #008080;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        width: 40%;
      }
  
      .divisionRegistro {
        margin-top: 10px;
        margin-left: 5px;
  
        input {
          width: 70%;
        }
      }
  
      .divBoton {
        display: flex;
        justify-content: center;
        margin-top: 10px;
      }
    }
  
    /*estilos del main de la página de inquietudes*/
  
    .mainInquietudes .fielsetComentarios {
      legend {
        color: #008080;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
        width: 90%;
      }
  
      width: 80%;
      height: 60vh;
      margin: auto auto;
      border: 5px double #008080;
  
      .divBoton input {
        margin: 0 auto;
        display: flex;
        justify-content: center;
      }
    }
  
    /*estilos del footer de mobile*/

  footer,.footerNosotros,.footerRegistro,.footerInquietudes,.footerServicios{
    height: 15%;
    .mobile{
      visibility:visible;
      width: 100%;
      display:flex;
      ul {
        list-style-type: none;
      }

      .left{
        display: flex;
        align-content: flex-start;
        flex-direction: column;
        width: 80%;
        margin: auto 0;
        p{
          font-size: 1.6rem;
          margin-left: 5px;
        }
        ul{
          display:flex;
          flex-direction: row;
        }


          $redes:(
          instagram: "../assets/instagram_logo.svg.svg",
          facebook: "../assets/facebook_logo.svg",
          whatsapp:"../assets/whatsApp_logo.svg"
        );

        @each $nombres,$linkcito in $redes{
          .#{$nombres}LogoFooter{
            display: inline-block;
          @include tamanio(30px,30px);
          margin-left: 10px;
          background-image: url($linkcito);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          }
        }
      }
        .logoFooter{
          margin: 10px;
          display: inline-block;
          width: 50px;
          height: 50px;
          background-image: url("../assets/logo.svg.svg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
      }
    }
    .creador{
      display:none;
  }
}
}