@charset "UTF-8";
/*Estilos generales*/
@media (max-width: 630px) {
  /*Estilos generales*/
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
  }
  /*Estilos del header mobile*/
  header nav {
    display: grid;
    grid-template-areas: "informacionArriba" "logoSeccion" "menuSeccion";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: radial-gradient(#008080 5%, #8FBC8F 40%);
  }
  ol, ul {
    padding-left: 0rem;
  }
  header nav .logoSeccion {
    grid-area: logoSeccion;
  }
  header nav .buscadorSeccion {
    margin: auto auto;
  }
  header nav .spasanaraLogo {
    display: none;
  }
  header nav .informacionArriba {
    grid-area: informacionArriba;
    margin: auto auto;
  }
  header nav .redesSeccion {
    display: none;
  }
  header nav .textosInit {
    grid-area: listaRegistro;
  }
  header nav .menuSeccion {
    grid-area: menuSeccion;
    display: flex;
    justify-content: center;
    margin: auto auto;
  }
  header .listaMenu {
    margin: auto auto;
  }
  header .listaMenu a {
    font-size: 1.3rem;
  }
  header ul ul li {
    display: block;
    background-color: #8FBC8F;
    width: 100%;
  }
  /*Estilos del main página Index*/
  main {
    display: grid;
    grid-template-areas: "destacados" "galeriaImg" "quienesSomos" "formulario" "mapa";
    grid-template-columns: 100%;
    grid-template-rows: 750px 315px 1fr 1fr 1fr;
  }
  main .destacadosSection {
    grid-area: destacados;
  }
  main .destacadosSection .servicioDestacado3 {
    display: none;
  }
  main .galeriaImagenes {
    grid-area: galeriaImg;
    display: flex;
    height: 300px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    -ms-scroll-snap-type: x proximity;
        scroll-snap-type: x proximity;
  }
  main .galeriaImagenes img {
    width: 200px;
    height: 300px;
    margin: 5px;
  }
  main .quienesSomos {
    grid-area: quienesSomos;
    display: grid;
    grid-template-areas: "texto" "img";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
  main .quienesSomosTexto {
    grid-area: texto;
    margin: 0 auto;
    border: solid 1px #899797;
    text-align: center;
    padding: 5px;
  }
  main .quienesSomosImg {
    grid-area: img;
    display: flex;
    justify-content: center;
  }
  main .quienesSomosImg img {
    width: 180px;
    height: 180px;
    margin: 10px;
  }
  main .formulario {
    grid-area: formulario;
    display: grid;
    grid-template-areas: "form" "boton" "imagen";
    grid-template-columns: 100%;
    grid-template-rows: 45% 10% 45%;
  }
  main .formulario .formularioTexto {
    grid-area: form;
    margin: 5px;
    text-align: center;
  }
  main .formulario .formularioBoton {
    grid-area: boton;
    margin: auto auto;
    width: 55vw;
  }
  main .formulario .formularioImg {
    grid-area: imagen;
  }
  main .formularioImg img {
    width: 180px;
    height: 160px;
    margin: 10px;
  }
  main .ubicacionSection {
    margin-top: 10px;
    grid-area: mapa;
    display: grid;
    grid-template-areas: "texto" "imgMapa";
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
  }
  main .iframeSection {
    grid-area: imgMapa;
    margin: auto auto;
  }
  main .iframeSection iframe {
    height: 300px;
    width: 200px;
  }
  /*Estilos del main de Página Nosotros*/
  .mainNosotros {
    display: grid;
    grid-template-areas: "titulo" "instalaciones" "nacimiento" "ubicacion" "equipo";
    grid-template-columns: 100%;
    grid-template-rows: 1% 17% 17% 17% auto;
    grid-row-gap: 10px;
  }
  .mainNosotros h1 {
    grid-area: titulo;
    margin: 0 auto;
  }
  .mainNosotros .instalNosotros {
    grid-area: instalaciones;
    display: grid;
    grid-template-areas: "texto" "img";
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    text-align: center;
  }
  .mainNosotros .instalNosotros .instalNosotrosTexto {
    grid-area: texto;
  }
  .mainNosotros .instalNosotros .instalNosotrosImg {
    grid-area: img;
    width: 150px;
    height: 100px;
    margin: 0 auto;
  }
  .mainNosotros .naceNosotros {
    grid-area: nacimiento;
    display: grid;
    grid-template-areas: "texto2" "img2";
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    text-align: center;
  }
  .mainNosotros .naceNosotros .naceNosotrosTexto {
    grid-area: texto2;
  }
  .mainNosotros .naceNosotros .naceNosotrosImg {
    grid-area: img2;
    width: 150px;
    height: 100px;
    margin: 0 auto;
  }
  .mainNosotros .ubicacionNosotros {
    grid-area: ubicacion;
  }
  .mainNosotros .equipoNosotros {
    grid-area: equipo;
  }
  .mainNosotros .ubicacionNosotros {
    grid-area: ubicacion;
    display: grid;
    grid-template-areas: "texto3" "img3";
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    text-align: center;
  }
  .mainNosotros .ubicacionNosotros .ubicacionNosotrosTexto {
    grid-area: texto3;
  }
  .mainNosotros .ubicacionNosotros .ubicacionNosotrosmap iframe {
    grid-area: img3;
    width: 200px;
    height: 170px;
    margin: 0 auto;
  }
  .mainNosotros .equipoNosotros {
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .mainNosotros .equipoNosotros h2 {
    margin-top: 20px;
  }
  .mainNosotros .equipoNosotros .contenedorEquipo {
    display: flex;
    flex-direction: column;
    margin: auto auto;
  }
  .mainNosotros .equipoNosotros .personaEquipo {
    width: 200px;
    height: 200px;
    margin: 10px;
  }
  .mainNosotros .equipoNosotros .personaEquipo Img {
    width: 120px;
    height: 140px;
  }
  /*estilos del main de la página de registro*/
  .mainRegistro .fielsetRegistro {
    width: 90vw;
  }
  .mainRegistro .fielsetRegistro legend {
    color: #008080;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    width: 40%;
  }
  .mainRegistro .fielsetRegistro .divisionRegistro {
    margin-top: 10px;
    margin-left: 5px;
  }
  .mainRegistro .fielsetRegistro .divisionRegistro input {
    width: 70%;
  }
  .mainRegistro .fielsetRegistro .divBoton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  /*estilos del main de la página de inquietudes*/
  .mainInquietudes .fielsetComentarios legend {
    color: #008080;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    width: 90%;
  }
  .mainInquietudes .fielsetComentarios {
    width: 80%;
    height: 60vh;
    margin: auto auto;
    border: 5px double #008080;
  }
  .mainInquietudes .fielsetComentarios .divBoton input {
    margin: 0 auto;
  }
  .mainInquietudes .fielsetComentarios .divBoton input {
    display: flex;
    justify-content: center;
  }
  /*estilos del main de la página de servicios*/
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  background-image: linear-gradient(to left, #008080 5%, #8FBC8F 40%);
  position: relative;
}
header .informacionArriba {
  display: inline-flex;
  margin-top: 15px;
}
header .listaRegistro {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
}
header .itemsRegistro {
  margin-right: 25px;
  text-decoration: none;
  color: #008080;
  font-weight: bold;
  font-size: 1.6rem;
}
header a:link, header a:visited, header a:active {
  text-decoration: none;
  color: #008080;
}
header ul {
  list-style: none;
  font-size: 0;
}
header ul ul {
  position: absolute;
  display: none;
}
header ul ul li {
  display: block;
  background-color: #8FBC8F;
  width: 250%;
}
header ul ul li:hover {
  background-color: white;
}
header li {
  display: inline-block;
  position: relative;
  font-size: 14px;
}
header li:hover {
  text-decoration: underline;
}
header li:hover ul {
  display: block;
}
header .menuSeccion {
  margin: auto auto;
}
header .listaMenu {
  display: inline-flex;
  justify-content: center;
  list-style: none;
  margin-left: 50px;
  margin-bottom: 20px;
  color: #008080;
}
header .listaMenu li {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.4rem;
  font-weight: bold;
}
header .redesSeccion {
  position: absolute;
  right: 15px;
}
header .instagramLogo {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  background-image: url("../assets/instagram_logo.svg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .facebookLogo {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  background-image: url("../assets/facebook_logo.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .whatsappLogo {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  background-image: url("../assets/whatsApp_logo.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .logoSeccion {
  display: flex;
  align-items: center;
}
header .logoSeccion .spasanaraLogo {
  width: 50px;
  height: 50px;
  background-image: url("../assets/logo.svg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 10px;
}
header .buscadorSeccion {
  width: 250px;
  border-radius: 10px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  background-color: #dfe1e5;
}
header .buscadorSeccion input {
  width: 200px;
  height: 15px;
  border: none;
  outline: none;
  background-color: #dfe1e5;
}
header .iconoBuscar {
  background-image: url("https://img.icons8.com/android/24/000000/search.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
}

/*Estilos del main del Index*/
/*Estilos de la sección de servicios destacados*/
main {
  display: grid;
  grid-template-areas: "destacadosSection galeriaImg galeriaImg galeriaImg" "destacadosSection quienesSomos quienesSomos quienesSomos" "destacadosSection formulario formulario formulario" "destacadosSection mapa mapa mapa";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  /* ----------------------------------------------
  * Generated by Animista on 2022-8-8 23:41:22*/
}
main .destacadosSection {
  grid-area: destacadosSection;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-areas: "servicioDestacado1" "servicioDestacado2" "servicioDestacado3";
  grid-template-columns: 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  /*Estilos de la sección galería de imagenes*/
}
main .destacadosSection .servicioDestacado3 {
  border: 1px solid #008080;
  height: 350px;
  margin: 10px;
  display: grid;
  grid-template-areas: "titulo" "texto" "boton";
  grid-template-columns: 1fr;
  grid-template-rows: 10% 75% 15%;
}
main .destacadosSection .servicioDestacado3 .servicioDestacado {
  border: 1px solid #008080;
  height: 350px;
  margin: 10px;
  display: grid;
  grid-template-areas: "titulo" "texto" "boton";
  grid-template-columns: 1fr;
  grid-template-rows: 10% 75% 15%;
}
main .destacadosSection .destacadoTitle {
  font-size: 1.6rem;
  font-weight: bold;
  color: #008080;
  background-color: #8FBC8F;
  border: 1px solid #008080;
  text-align: center;
}
main .destacadosSection .destacadoParrafo {
  font-size: 1.4rem;
}
main .destacadosSection .botonReserva {
  height: 30px;
  width: 100px;
  border-radius: 50px;
  border: solid #008080;
  background-image: linear-gradient(to left, #008080 0%, #8FBC8F 90%);
  color: white;
  font-weight: bold;
  margin: 0 auto;
}
main .destacadosSection .botonReserva:hover {
  height: 35px;
  width: 120px;
}
main .galeriaImagenes {
  grid-area: galeriaImg;
  display: grid;
  grid-area: "img1 img2 img3";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
  grid-row-gap: 10px;
  justify-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
main .galeriaImagenes img {
  width: 250px;
  height: 250px;
}
main .quienesSomos {
  grid-area: quienesSomos;
  display: grid;
  grid-template-areas: "texto img4";
  grid-template-columns: 60% 40%;
  grid-template-rows: 2fr;
}
main .quienesSomos .quienesSomosTexto {
  grid-area: texto;
}
main .quienesSomos .quienesSomosImg {
  grid-area: img4;
}
main .quienesSomos .quienesSomosImg img {
  width: 250px;
  height: 250px;
}
main .quienesSomos .quienesTitulo {
  font-size: 1.6rem;
  color: #008080;
  font-weight: bold;
}
main .quienesSomos .quienesParrafo {
  font-size: 1.4rem;
  color: #008080;
}
main .formulario {
  grid-area: formulario;
  display: grid;
  grid-template-areas: "formulario img5" "boton img5";
  grid-template-columns: 60% 40%;
  grid-template-rows: 75% 25%;
}
main .formulario .formularioTexto {
  grid-area: formulario;
}
main .formulario .formularioImg {
  grid-area: img5;
  display: flex;
  justify-content: center;
}
main .formulario .formularioImg Img {
  width: 250px;
  height: 250px;
  border-radius: 40%;
}
main .formulario .formularioBoton {
  grid-area: boton;
  display: flex;
  justify-content: center;
}
main .formulario .formulario legend {
  color: #008080;
  font-weight: bold;
  font-size: 1.6rem;
}
main .formulario .botonDescuento {
  height: 30px;
  border-radius: 50px;
  border: solid #008080;
  background-color: #008080;
  color: white;
  font-weight: bold;
  -webkit-animation: wobble-hor-bottom 10s both;
          animation: wobble-hor-bottom 10s both;
}
@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

main .formulario .formularioDatos {
  margin-top: 2vh;
}

main .formulario input {
  margin-top: 5px;
  width: 300px;
}

main .ubicacionSection {
  grid-area: mapa;
}

main .ubicacionSection h2 {
  color: #008080;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 5px;
  background-color: #8FBC8F;
  border: 1px solid #008080;
}

main .ubicacionSection p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5px;
}

main .ubicacionSection .iframeSection {
  display: flex;
  justify-content: center;
}

main .ubicacionSection iframe {
  width: 40%;
  height: 40vh;
}

/*Estilos del main de Página Nosotros*/
.mainNosotros {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mainNosotros h1 {
  color: #008080;
  font-size: 2rem;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.mainNosotros .instalNosotros, .naceNosotros, .ubicacionNosotros {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  height: 50vh;
  border: 1px solid #008080;
  width: 98%;
  justify-content: space-between;
  margin-left: 1.3%;
  background-color: #dfe1e5;
  margin-bottom: 10px;
}

.mainNosotros .instalNosotros .instalNosotrosImg {
  width: 25vw;
  height: 40vh;
  margin-left: 10px;
  background-image: url("../assets/images/instalaciones.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #008080;
}

.mainNosotros .naceNosotros .naceNosotrosImg {
  width: 25vw;
  height: 40vh;
  margin-left: 10px;
  background-image: url("../assets/images/nosotros_vela.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #008080;
}

.mainNosotros .ubicacionNosotrosmap iframe {
  width: 25vw;
  height: 40vh;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #008080;
}

.mainNosotros .instalNosotrosTexto h2, .mainNosotros .naceNosotrosTexto h2,
.mainNosotros .ubicacionNosotros h2 {
  color: #008080;
  font-size: 1.8rem;
  margin-top: 5px;
  margin-left: 5px;
}

.mainNosotros .instalNosotrosTexto p, .naceNosotrosTexto p,
.ubicacionNosotrosTexto p {
  font-size: 1.6rem;
  margin-left: 5px;
}

.mainNosotros .equipoNosotros {
  background-color: #dfe1e5;
  height: 70vh;
  border: 1px solid #008080;
  width: 98%;
  margin-left: 1.3%;
  margin-bottom: 10px;
}

.mainNosotros .equipoNosotros h2 {
  color: #008080;
  font-size: 1.8rem;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.mainNosotros .equipoNosotros .contenedorEquipo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mainNosotros .equipoNosotros .personaEquipo {
  height: 60vh;
  width: 30%;
  flex-direction: column;
  background-color: #8FBC8F;
  border: 1px solid #008080;
}

.mainNosotros .equipoNosotros .personaEquipo img {
  width: 70%;
  height: 45vh;
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #008080;
}

.mainNosotros .equipoNosotros .personaEquipoTexto {
  text-align: center;
}

.mainNosotros .equipoNosotros .personaEquipoTexto h3 {
  font-size: 1.8rem;
  color: #008080;
}

.mainNosotros .equipoNosotros .personaEquipoTexto p {
  font-size: 1.6rem;
}

/*Estilos del main de Página Registro*/
.mainRegistro {
  display: flex;
  justify-content: center;
  height: 77vh;
}

.mainRegistro .fielsetRegistro {
  width: 70%;
  height: 50vh;
  margin-top: 50px;
  border: 5px double #008080;
}

.mainRegistro .fielsetRegistro legend {
  color: #008080;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  width: 13%;
}

.mainRegistro .fielsetRegistro .divisionRegistro {
  margin-top: 30px;
  margin-left: 50px;
}

.mainRegistro .fielsetRegistro .divisionRegistro label {
  color: #008080;
  font-size: 1.6rem;
  font-weight: bold;
}

.mainRegistro .fielsetRegistro .divisionRegistro input {
  width: 50%;
}

.mainRegistro .fielsetRegistro .contenedorRegistro {
  margin-top: 5px;
  margin-left: 5px;
}

.mainRegistro .fielsetRegistro .divBoton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mainRegistro .fielsetRegistro .divBoton input {
  height: 30px;
  width: 100px;
  border-radius: 50px;
  border: solid #008080;
  background-color: #008080;
  color: white;
  font-weight: bold;
}

/*Estilos del main de Página Inquietudes*/
.mainInquietudes {
  display: flex;
  justify-content: center;
  height: 77vh;
}

.mainInquietudes h1 {
  color: #008080;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 10px;
}

.mainInquietudes .fielsetComentarios {
  width: 90%;
  height: 50vh;
  margin-top: 50px;
  border: 5px double #008080;
}

.mainInquietudes .fielsetComentarios legend {
  color: #008080;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  width: 80%;
}

.mainInquietudes .fielsetComentarios .divisionComentarios {
  display: flex;
  flex-direction: column;
}

.mainInquietudes .fielsetComentarios .divisionComentarios label {
  color: #008080;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.mainInquietudes .fielsetComentarios .divisionComentarios textarea {
  width: 80%;
  margin: 0 auto;
}

.mainInquietudes .fielsetComentarios .divBoton {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
}

.mainInquietudes .fielsetComentarios input {
  height: 30px;
  width: 100px;
  border-radius: 50px;
  border: solid #008080;
  background-color: #008080;
  color: white;
  font-weight: bold;
}

/*Estilos del main de la página servicios*/
.mainServicios h5 {
  font-size: 1.8rem;
  color: #008080;
}

.mainServicios p {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}

#imageRow1 {
  background-image: url("../assets/images/inmune_Servicios.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  color: #dfe1e5;
  text-align: center;
  display: flex;
  align-content: center;
  margin-right: 0.03vw;
}

#imageRow2 {
  background-image: url("../assets/images/bronquial_Servicios.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  color: #dfe1e5;
  text-align: center;
  display: flex;
  align-content: center;
  margin-right: 0.03vw;
}

#imageRow3 {
  background-image: url("../assets/images/alineacion_servicio .jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  color: #dfe1e5;
  text-align: center;
  display: flex;
  align-content: center;
  margin-right: 0.03vw;
}

#imageRow4 {
  background-image: url("../assets/images/cefaleas_servicio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  color: #dfe1e5;
  text-align: center;
  display: flex;
  align-content: center;
  margin-right: 0.03vw;
}

#imageRow5 {
  background-image: url("../assets/images/seminarios_servicio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  color: #dfe1e5;
  text-align: center;
  display: flex;
  align-content: center;
  margin-right: 0.03vw;
}

#imageRow1 .display-1,
#imageRow2 .display-1,
#imageRow3 .display-1,
#imageRow4 .display-1,
#imageRow5 .display-1 {
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
  -webkit-text-stroke: 2px #008080;
}

.activText {
  text-align: left;
}

/*Estilos de las tarjeta*/
.mainServicios #tarjetas,
.mainServicios #tarjetas2,
.mainServicios #tarjetas3,
.mainServicios #tarjetas4,
.mainServicios #tarjetas5 {
  height: 95%;
}

.mainServicios #tarjetas .col,
.mainServicios #tarjetas3 .col,
.mainServicios #tarjetas4 .col,
.mainServicios #tarjetas5 .col,
.mainServicios #tarjetas2 .col {
  height: 100%;
}

#destacados .col,
#destacados2 .col,
#destacados3 .col,
#destacados4 .col,
#destacados5 .col {
  margin: 0 auto;
}

/*Estilos servicios destacados*/
#tarjetaServiciosTitulo .display-4,
#tarjetaServiciosTitulo2 .display-4,
#tarjetaServiciosTitulo3 .display-4,
#tarjetaServiciosTitulo4 .display-4,
#tarjetaServiciosTitulo5 .display-4 {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #8FBC8F;
  color: #008080;
  font-weight: bold;
  border: #008080 1px;
}

.btn, .btn-primary {
  background-color: #008080;
  font-size: 1.6rem;
  font-weight: bold;
}

.btn:hover, .btn-primary:hover {
  background-color: #8FBC8F;
  color: #008080;
}

/*Estilos del footer de Página Registro*/
.footerRegistro {
  position: absolute;
  bottom: 0px;
}

/*Estilos del footer de Página Inquietudes*/
.footerInquietudes {
  position: absolute;
  bottom: 0px;
}

/*Estilos del main del footer*/
footer {
  margin-top: 20px;
  background-image: linear-gradient(to right, #008080 5%, #8FBC8F 40%);
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

footer p {
  font-size: 1.4rem;
}

/*Estilos del main del footer servicios*/
.footerServicios {
  margin-top: 20px;
  background-image: linear-gradient(to right, #008080 5%, #8FBC8F 40%);
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footerServicios p {
  font-size: 1.4rem;
}/*# sourceMappingURL=origen.css.map */